# Folder
.gradle/
.idea/
build/
out/

# File
# Setting
!gradle/wrapper/gradle-wrapper.jar
*.iws
*.iml
*.ipr

# config
src/main/resources/application.properties
src/main/java/com/example/springboot/common/security/jwt/TokenProperties.java
src/main/java/com/example/springboot/common/config/ConfigProperties.java